USE [master]
GO
/****** Object:  Database [LabBase]    Script Date: 20/04/2019 11:20:02 a. m. ******/
CREATE DATABASE [LabBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LabBase', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LabBase.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LabBase_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LabBase_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LabBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LabBase]
GO
/****** Object:  StoredProcedure [dbo].[Adeudo]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Adeudo]
AS
BEGIN
SELECT Clientes.SegApellido, Multas.Adeudo
FROM Multas
JOIN Clientes ON Clientes.idCliente =  Multas.FechaDev
WHERE Multas.Adeudo > 3000
END
GO
/****** Object:  StoredProcedure [dbo].[AdeudosMenores]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdeudosMenores]
AS
BEGIN
SELECT Clientes.SegApellido, Multas.Adeudo
FROM Multas
JOIN Clientes ON Clientes.idCliente =  Multas.FechaDev
WHERE Multas.Adeudo < 100
END
GO
/****** Object:  StoredProcedure [dbo].[Cliente]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Cliente]
AS
SELECT * FROM Clientes
GO;
GO
/****** Object:  StoredProcedure [dbo].[CLIENTES_MAYORES]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CLIENTES_MAYORES]
AS
BEGIN
SELECT Clientes.SegApellido, Clientes.Edad
FROM Clientes
JOIN Cliente ON Clientes.SegApellido =  Clientes.Edad
WHERE Clientes.Edad > 20
END
GO
/****** Object:  StoredProcedure [dbo].[compu]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[compu]  @computadora VARCHAR(50)
AS
BEGIN
SELECT Clientes.SegApellido, COUNT(Computo.IDpc) AS DISPO
FROM Computo
JOIN Clientes ON Computo.IDpc = Clientes.SegApellido
WHERE Clientes.SegApellido = @computadora
GROUP BY SegApellido
END
GO
/****** Object:  StoredProcedure [dbo].[Cubiculo]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Cubiculo] @ocupado INT
AS
BEGIN
SELECT Clientes.SegApellido, COUNT(Cubiculos.Disponible) AS DISP
FROM Cubiculos
JOIN Clientes ON Cubiculos.Disponible = Clientes.SegApellido
WHERE Clientes.SegApellido = @ocupado
GROUP BY SegApellido
END
GO
/****** Object:  StoredProcedure [dbo].[Libroo]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Libroo]
@Librito VARCHAR(50)
AS
BEGIN
SELECT LibrosExt.LibroP, COUNT(Libro.idLibro) AS Prueba
FROM Libro
JOIN LibrosExt ON Libro.idLibro = LibrosExt.LibroP
WHERE LibrosExt.LibroP = @Librito
GROUP BY LibroP
END
GO
/****** Object:  StoredProcedure [dbo].[SelecionandoLibros]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelecionandoLibros] @Libro VARCHAR(50)
AS
SELECT * FROM Libro WHERE Genero = @Libro
GO
/****** Object:  StoredProcedure [dbo].[SP_Lockers]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Lockers]
@Locker int
AS
BEGIN
SELECT Paqueteria.LockerID, COUNT(Clientes.idCliente) AS LockersOcupados
FROM Clientes
JOIN Paqueteria ON Clientes.idCliente = Paqueteria.LockerID
WHERE Paqueteria.LockerID = @Locker
GROUP BY LockerID
END
GO
/****** Object:  StoredProcedure [dbo].[Titulos]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Titulos]
AS
BEGIN
SELECT Libro.idLibro, Libro.Titulo
FROM Libro
JOIN Libros ON Libro.idLibro =  Libro.Titulo
WHERE Libro.idLibro > 10
END
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 20/04/2019 11:20:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[PrimNombre] [varchar](50) NOT NULL,
	[SegNombre] [varchar](50) NOT NULL,
	[PrimApellido] [varchar](50) NOT NULL,
	[SegApellido] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Sexo] [char](1) NOT NULL,
 CONSTRAINT [idCliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Computo]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Computo](
	[IDpc] [int] IDENTITY(1,1) NOT NULL,
	[Disponible] [char](2) NULL,
	[clientesID] [int] NULL,
 CONSTRAINT [pk_idpc] PRIMARY KEY CLUSTERED 
(
	[IDpc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cubiculos]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cubiculos](
	[ClientesId] [int] NULL,
	[Cubiculo] [int] NULL,
	[Disponible] [char](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DonacionLibro]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonacionLibro](
	[Titulo] [varchar](50) NULL,
	[Genero] [varchar](30) NULL,
	[CantidadD] [tinyint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libro](
	[idLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Disponible] [char](1) NOT NULL,
	[Genero] [varchar](30) NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [pk_idLibro] PRIMARY KEY CLUSTERED 
(
	[idLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LibrosExt]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LibrosExt](
	[FechaExt] [varchar](20) NULL,
	[LibroP] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mesa](
	[Mesa] [int] NULL,
	[Disponible] [varchar](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Multas]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Multas](
	[FechaPrest] [varchar](50) NOT NULL,
	[FechaLimDev] [varchar](50) NOT NULL,
	[FechaDev] [varchar](50) NOT NULL,
	[Adeudo] [int] NOT NULL,
	[ClientesID] [int] NULL,
	[LibroID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Paqueteria]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paqueteria](
	[LockerID] [int] IDENTITY(1,1) NOT NULL,
	[clientesId] [int] NULL,
 CONSTRAINT [pk_idLocker] PRIMARY KEY CLUSTERED 
(
	[LockerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prestamo](
	[idPrestamos] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[idLibro] [int] NOT NULL,
	[FechaPrestamo] [varchar](50) NOT NULL,
	[fechaLimDev] [varchar](50) NOT NULL,
	[FechaDev] [varchar](50) NOT NULL,
 CONSTRAINT [pk_iIdPrestamos] PRIMARY KEY CLUSTERED 
(
	[idPrestamos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vista1]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vista1]
as
select idCliente,Edad, Sexo from Clientes
GO
/****** Object:  View [dbo].[vista10]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista10]
as
select * from Prestamo;
GO
/****** Object:  View [dbo].[vista2]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista2]
as
select * from Computo;
GO
/****** Object:  View [dbo].[vista3]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista3]
as
select * from Cubiculos;
GO
/****** Object:  View [dbo].[vista4]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista4]
as
select * from DonacionLibro;
GO
/****** Object:  View [dbo].[vista5]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista5]
as
select * from Libro;
GO
/****** Object:  View [dbo].[vista6]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista6]
as
select * from LibrosExt;
GO
/****** Object:  View [dbo].[vista7]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista7]
as
select * from Mesa;
GO
/****** Object:  View [dbo].[vista8]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista8]
as
select * from Multas;
GO
/****** Object:  View [dbo].[vista9]    Script Date: 20/04/2019 11:20:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista9]
as
select * from Paqueteria;
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([idCliente], [PrimNombre], [SegNombre], [PrimApellido], [SegApellido], [Edad], [Sexo]) VALUES (1, N'Valeria', N'Alondria', N'Peña', N'Nieto', 25, N'F')
INSERT [dbo].[Clientes] ([idCliente], [PrimNombre], [SegNombre], [PrimApellido], [SegApellido], [Edad], [Sexo]) VALUES (2, N'Diego', N'Alfredo', N'Ortiz', N'Dias', 19, N'M')
INSERT [dbo].[Clientes] ([idCliente], [PrimNombre], [SegNombre], [PrimApellido], [SegApellido], [Edad], [Sexo]) VALUES (3, N'Abel', N'Estrada', N'Hernandez', N'Rodriguez', 25, N'M')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Computo] ON 

INSERT [dbo].[Computo] ([IDpc], [Disponible], [clientesID]) VALUES (1, N'no', 2)
INSERT [dbo].[Computo] ([IDpc], [Disponible], [clientesID]) VALUES (2, N'no', 1)
INSERT [dbo].[Computo] ([IDpc], [Disponible], [clientesID]) VALUES (3, N'no', 3)
SET IDENTITY_INSERT [dbo].[Computo] OFF
INSERT [dbo].[Cubiculos] ([ClientesId], [Cubiculo], [Disponible]) VALUES (3, 2, N'si')
INSERT [dbo].[Cubiculos] ([ClientesId], [Cubiculo], [Disponible]) VALUES (8, 1, N'si')
INSERT [dbo].[Cubiculos] ([ClientesId], [Cubiculo], [Disponible]) VALUES (7, 3, N'si')
INSERT [dbo].[DonacionLibro] ([Titulo], [Genero], [CantidadD]) VALUES (N'Android', N'Cientifico', 4)
INSERT [dbo].[DonacionLibro] ([Titulo], [Genero], [CantidadD]) VALUES (N'Musica', N'Educativo', 7)
INSERT [dbo].[DonacionLibro] ([Titulo], [Genero], [CantidadD]) VALUES (N'Blanca nieves', N'Cuento', 1)
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([idLibro], [Titulo], [Descripcion], [Disponible], [Genero], [Cantidad]) VALUES (1, N'Dime la verdad', N'Historia de un amor entre dos personas de distintas sociedades', N'S', N'Novela', 15)
INSERT [dbo].[Libro] ([idLibro], [Titulo], [Descripcion], [Disponible], [Genero], [Cantidad]) VALUES (2, N'Fundamentos de programación desde 0', N'fundamentos de programación', N'S', N'Cientifico', 10)
INSERT [dbo].[Libro] ([idLibro], [Titulo], [Descripcion], [Disponible], [Genero], [Cantidad]) VALUES (3, N'Una vida rica', N'fundamentos para su riqueza personal', N'S', N'Desarrollo personal', 13)
SET IDENTITY_INSERT [dbo].[Libro] OFF
INSERT [dbo].[LibrosExt] ([FechaExt], [LibroP]) VALUES (N'05/06/19', 1)
INSERT [dbo].[LibrosExt] ([FechaExt], [LibroP]) VALUES (N'03/06/19', 2)
INSERT [dbo].[LibrosExt] ([FechaExt], [LibroP]) VALUES (N'03/04/19', 3)
INSERT [dbo].[Mesa] ([Mesa], [Disponible]) VALUES (1, N'si')
INSERT [dbo].[Mesa] ([Mesa], [Disponible]) VALUES (2, N'si')
INSERT [dbo].[Mesa] ([Mesa], [Disponible]) VALUES (3, N'si')
INSERT [dbo].[Multas] ([FechaPrest], [FechaLimDev], [FechaDev], [Adeudo], [ClientesID], [LibroID]) VALUES (N'14/01/19', N'15/02/19', N'26/02/19', 100, 1, 1)
INSERT [dbo].[Multas] ([FechaPrest], [FechaLimDev], [FechaDev], [Adeudo], [ClientesID], [LibroID]) VALUES (N'13/04/19', N'15/05/19', N'20/05/19', 0, 2, 2)
INSERT [dbo].[Multas] ([FechaPrest], [FechaLimDev], [FechaDev], [Adeudo], [ClientesID], [LibroID]) VALUES (N'03/03/19', N'03/03/19', N'03/03/19', 33, 3, 3)
SET IDENTITY_INSERT [dbo].[Paqueteria] ON 

INSERT [dbo].[Paqueteria] ([LockerID], [clientesId]) VALUES (1, 1)
INSERT [dbo].[Paqueteria] ([LockerID], [clientesId]) VALUES (2, 1)
INSERT [dbo].[Paqueteria] ([LockerID], [clientesId]) VALUES (3, 6)
SET IDENTITY_INSERT [dbo].[Paqueteria] OFF
SET IDENTITY_INSERT [dbo].[Prestamo] ON 

INSERT [dbo].[Prestamo] ([idPrestamos], [idCliente], [idLibro], [FechaPrestamo], [fechaLimDev], [FechaDev]) VALUES (1, 1, 1, N'13/04/19', N'15/05/19', N'20/05/19')
INSERT [dbo].[Prestamo] ([idPrestamos], [idCliente], [idLibro], [FechaPrestamo], [fechaLimDev], [FechaDev]) VALUES (2, 2, 2, N'11/04/19', N'15/04/19', N'20/04/19')
INSERT [dbo].[Prestamo] ([idPrestamos], [idCliente], [idLibro], [FechaPrestamo], [fechaLimDev], [FechaDev]) VALUES (3, 3, 3, N'14/04/19', N'16/04/19', N'22/04/19')
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
ALTER TABLE [dbo].[Computo]  WITH CHECK ADD FOREIGN KEY([clientesID])
REFERENCES [dbo].[Clientes] ([idCliente])
GO
ALTER TABLE [dbo].[Cubiculos]  WITH CHECK ADD FOREIGN KEY([ClientesId])
REFERENCES [dbo].[Clientes] ([idCliente])
GO
ALTER TABLE [dbo].[LibrosExt]  WITH CHECK ADD FOREIGN KEY([LibroP])
REFERENCES [dbo].[Libro] ([idLibro])
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD FOREIGN KEY([ClientesID])
REFERENCES [dbo].[Clientes] ([idCliente])
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD FOREIGN KEY([LibroID])
REFERENCES [dbo].[Libro] ([idLibro])
GO
ALTER TABLE [dbo].[Paqueteria]  WITH CHECK ADD FOREIGN KEY([clientesId])
REFERENCES [dbo].[Clientes] ([idCliente])
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [fk_fIdCiente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Clientes] ([idCliente])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [fk_fIdCiente]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [fk_fIdLibro] FOREIGN KEY([idLibro])
REFERENCES [dbo].[Libro] ([idLibro])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [fk_fIdLibro]
GO
USE [master]
GO
